{% extends "base.html" %}
{% block content %}
<div align="center">
    <h1>Upcoming Appointments</h1>
    <br>
    <table style="width: 80%">
        <tr>
            <th>Patient Email</th>
            <th>Date and Time</th>
        </tr>
    {% for appointment in appointments %}
        <tr>
            <td>{{appointment.patient_email}}</td>
            <td>{{appointment.date_and_time}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
<div class="container" align="center">
    <label>{{error_message}}</label>
</div>
{% endblock %}