{% extends "base.html" %}
{% block content %}
<div class="stroke">
<h3 class="hometitle">
    Welcome to the Patient Portal!
</h3>

<div id="center">
    <div id="first">
        <b style="position: relative; left: 90px; top: 5px; border: dotted; background-color: #419641">
            Register Today!
        </b>
        <p style="position: relative; left: 10px; top: 10px">
            Schedule an appointment with your local doctor
            using the secure patient portal system. Sign-up
            your family now. When I say now, I mean NOW!!!
        </p>
    </div>
    <div id="second">
        <b style="position: relative; left: 115px; top: 5px; border: dotted; background-color: #31b0d5">
            NEWSFEED
        </b>
        <p style="position: relative; left: 5px; top: 10px">
            ?/?/2015 This site is still being developed, more to come soon!
            <br>
            <br>
            ?/?/2015 Sign-up to start testing as an alpha user.
        </p>
    </div>
</div>


</div>
{% endblock %}