{% extends "base.html" %}
{% block content %}
<div class="container" style="width: 50%">
    <form method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-log btn-primary btn-block" type="submit">Login</button>
    </form>
</div>

<div class="container" align="center">
    <label>{{login_error}}</label>
</div>
{% endblock %}