{% extends "base.html" %}
{% block content %}
<div class="container">
    <ul class="nav" class="sidebar-nav" style="width: 25%;">
        <li class="sidebar-brand">
            <p>
                       Welcome Patient!
            </p>
        </li>
        </li>
        <li>
            <a href="/view/messages">View Messages</a>
            <a href="/view/messages/sent">View Sent Messages</a>
            <a href="/view/chart">View Chart Entries</a>
        </li>
    </ul>

</div>
{% endblock %}