{% extends "base.html" %}
{% block content %}
<div class="container" align="center" style="width: 50%">
    <form method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Schedule Patient Appointment</h2>
        <input type="text" name="patient_email" class="form-control" placeholder="Patient's Email" required autofocus>
        <input type="text" name="doctor_email" class="form-control" placeholder="Doctor's Email" required>
        <input type="text" name="month" class="form-control" placeholder="Month (number)" required>
        <input type="text" name="day" class="form-control" placeholder="Day" required>
        <input type="text" name="hour" class="form-control" placeholder="Hour (24 hour clock)" required>
        <input type="text" name="minute" class="form-control" placeholder="Minutes" required>
        <input type="text" name="year" class="form-control" placeholder="Year" required>
        <button class="btn btn-log btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
<br>
<div class="container" align="center">
    <label>{{error_message}}</label>
</div>
{% endblock %}