{% extends "base.html" %}
{% block content %}
<p>
    Send a message to the next available staff member<br>
    and a representative will get back you within the<br>
    next few hours during business days.
</p>
<form method="post" class="form-signin" role="form">
<textarea type="text" name="sent_message" class="form-control" placeholder="Write Your Message Here" style="height: 400px; width: 800px; display: block; margin-left: auto; margin-right: auto; resize: none; font-size: 14px;"></textarea>
<button class="btn" type="submit" style="display: inherit; position: relative;left: 300px; top: 5px; margin-right: auto; margin-left: auto; height: 30px; width: 80px; font-size: large">Send</button>

</form>



{% endblock %}