{% extends "base.html" %}
{% block content %}
<div class="container" align="center" style="width: 80%">
    <h2>View Upcoming Appointments</h2>
    <br>
    <div class="container" style="width: 50%">
        <form method="post" class="form-signin" role="form">
            <input type="text" name="doctor_email" class="form-control" placeholder="Doctor Email" required autofocus>
            <button class="btn btn-log btn-primary btn-block" type="submit">Filter</button>
        </form>
    </div>
    <br>
    <br>
    <table style="width: 80%">
        <tr>
            <th>Patient Email</th>
            <th>Doctor Email</th>
            <th>Date and Time</th>
        </tr>
    {% for appointment in appointments %}
        <tr>
            <td>{{appointment.patient_email}}</td>
            <td>{{appointment.doctor_email}}</td>
            <td>{{appointment.date_and_time}}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <br>
</div>
<div class="container" align="center">
    <label>{{error_message}}</label>
</div>
{% endblock %}